<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="static/screensage_logo.png" />
    <title>ScreenSage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home-cont">
        <div class="tit-cont">
            <img class="main-logo" src="static/screensage.png"></img>
            <div>
                <h1 class="tit">Welcome to Screensage</h1>
            </div>
        </div>
        <div class="start-cont">
            <div class="quiz-cont">
                <p class="res-tit" style="text-align:center;">Please enter the job position for pre-screening!</p>
                <form action="/" method="POST">
                    <textarea id="job_role" name="job_role" required></textarea>
                    <button type="submit">Start Quiz</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
